[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
